### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
.env
.venv/

### Python ###
*.py[cod]
*$py.class
*.so

# Distribution / packaging
.Python
build/
dist/
downloads/
.eggs/
lib/
lib64/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/

# Pip
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache/

# Translations
*.mo

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm & JetBrains
.idea/

# VS Code
.vscode/

# Docker
.dockerignore
*.pid
docker-compose.override.yml

# Type checkers
.mypy_cache/
.pyre/
.pytype/

# Celery
celerybeat-schedule
celerybeat.pid

# MkDocs
/site

# SageMath
*.sage.py

# Spyder
.spyderproject
.spyproject

# Rope
.ropeproject
